[submodule "/home/abhishek/Pictures/barn/src/barn/vendor/glfw"]
	path = /home/abhishek/Pictures/barn/src/barn/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "src/barn/vendor/spdlog"]
	path = src/barn/vendor/spdlog
	url = https://github.com/gabime/spdlog
